h4.ui.header Buttons

p A standard button, default size
a.ui.button Action

.ui.section.divider

p Different sizes
a.ui.mini.button mini
a.ui.tiny.button tiny
a.ui.small.button small
a.ui.medium.button medium
a.ui.large.button large
a.ui.big.button big
a.ui.huge.button huge
a.ui.massive.button massive

.ui.section.divider
p Button states

a.ui.hover.button Hover
a.ui.down.button Pressed
a.ui.active.button Active
a.ui.disabled.button Disabled
a.ui.loading.button Loading

.ui.section.divider

p Social buttons

a.ui.facebook.button
  i.facebook.icon
  | Facebook
a.ui.twitter.button
  i.twitter.icon
  | Twitter

.ui.section.divider

p Different colored buttons
a.ui.black.button Action
a.ui.green.button Action
a.ui.red.button Action
a.ui.blue.button Action
a.ui.purple.button Action
a.ui.teal.button Action
a.ui.orange.button Action

.ui.section.divider

p Primary/secondary buttons
a.ui.primary.button Add to cart
a.ui.secondary.button Save

.ui.section.divider

p Basic button without formatting
a.ui.basic.button Action

.ui.section.divider

.ui.inverted.segment
  p Inverted button
  a.ui.inverted.basic.button Action

.ui.section.divider

p A toggle button
a.ui.toggle.button Action

.ui.section.divider

p Button can animate to show hidden content
.ui.animated.button
  a.visible.content Action
  a.hidden.content
    i.right.arrow.icon

.ui.vertical.animated.button
  a.hidden.content Action
  .visible.content
    i.cart.icon

.ui.animated.fade.button
  a.visible.content Action
  a.hidden.content 12.99/mo

.ui.section.divider

p Button can have an icon and a label
a.ui.labeled.icon.button
  i.pause.icon
  | Action

a.ui.right.labeled.icon.button
  i.right.arrow.icon
  | Action

.ui.section.divider

p Buttons can be grouped together
.ui.buttons
  a.ui.button Action
  a.ui.button Action
  a.ui.button Action

.ui.section.divider

p Button groups can be separated by conditionals
.ui.buttons
  a.ui.button Cancel
  a.or
  a.ui.positive.button Save
